body {
	background-image: blue;
}

.picture {
	margin:auto;
	border-style: solid;
	border-radius: 5px;
	height: 200px;
	width:200px;
}
.content {
	background-image: url("ballons.jpg");
	width: 56%;
	padding: 25px;
	color:white;
	margin:auto;
}
.center {
	margin:auto;
	width:40%;
}
